@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model RecordingOfViolations.Models.Violation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["DeleteViolation"]</h2>
<dl>
    <dt>@SharedLocalizer["Reason"].Value</dt>
    <dd>
        @Html.DisplayFor(m => m.Reason.Name)
    </dd>

    <dt>@SharedLocalizer["Address"]</dt>
    <dd>
        @Html.DisplayFor(m => m.Address)
    </dd>

    <dt>@SharedLocalizer["Policeman"]</dt>
    <dd>
        @Html.DisplayFor(m => m.Policeman)
    </dd>

    <dt>@SharedLocalizer["Offender"]</dt>
    <dd>
        @Html.DisplayFor(m => m.Offender)
    </dd>

    <dt>@SharedLocalizer["Price"]</dt>
    <dd>
        @Html.DisplayFor(m => m.Price)
    </dd>
</dl>
@using (Html.BeginForm())
{
    <input type="submit" value=@SharedLocalizer["Delete"]>
}